@import url('https://fonts.googleapis.com/css?family=Comfortaa:500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');


.App {
  text-align: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  // background: linear-gradient(-45deg, rgb(151, 187, 255) 0%, rgb(10, 65, 247) 100%);
}

main {
  position: absolute;
  top: 50vh;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}
