.warp {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 480px){
    flex-direction: column !important;
    align-items: center;
  }
}
